[Unit]
Description=Telegram reporter
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/server
ExecStart=/opt/server/TelegramBot.py
Restart=always

[Install]
WantedBy=multi-user.target
